.Main-Label-Panel {
    display: inline-block;
    text-align: center;
    margin-top: auto;
    float: left;
    font-size: 40pt;
    width: 300px;
}
.Main-Panel {
    display: inline-block;
    width:400px;
    height:120px;
}
.Main-Panel-Image {
    display: inline-block;
    width: 70px;
    height: 120px;
    float:right;
}
.Main-Table {
    padding:10px;
}
.centered-label {
    display: block;
    text-align: center;
    margin-bottom: 10px; 
}

.Subject-Label {
    display: block;
    text-align: center;
    color: black;
    font-size: 40pt;
    width: 300px;
    padding: 10px;
}

.Subject-Panel {
    text-align: center;
    width: 80%;
    padding: 10px;
}
.separator-label {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 20px 0; 
}
.Subject-Main-Panel {
    display: inline-block;
    width: 200px;
    height: 60px;
}
.Subject-Label-Panel {
    display: inline-block;
    text-align: center;
    margin-top: auto;
    float: left;
    font-size: 20pt;
    width: 120px;
}
.Subject-Panel-Image {
    display: inline-block;
    width: 35px;
    height: 60px;
    float: right;
}
.Message-Label-Panel {
    display: inline-block;
    text-align: center;
    margin-top: auto;
    float: left;
    font-size: 15pt;
    width: 150px;
    color:floralwhite;
}

.Message-Panel {
    float: left;
    display: inline-block;
    width: 200px;
    height: 60px;
}

.Message-Panel-Image {
    display: inline-block;
    width: 400px;
    height: 30px;
    float: right;
}