USE [master]
GO
/****** Object:  Database [Edukujez]    Script Date: 27.10.2023 22:29:54 ******/
CREATE DATABASE [Edukujez]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Edukujez', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Edukujez.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Edukujez_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Edukujez_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Edukujez].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Edukujez]
GO
/****** Object:  Table [dbo].[Grupy]    Script Date: 27.10.2023 22:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupy](
	[ID_Grupy] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [varchar](255) NOT NULL,
	[Grupa_nadrzędna] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Grupy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listy_Uprawnien]    Script Date: 27.10.2023 22:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listy_Uprawnien](
	[ID_Grupy] [int] NOT NULL,
	[ID_Uprawnienia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Grupy] ASC,
	[ID_Uprawnienia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oceny]    Script Date: 27.10.2023 22:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oceny](
	[ID_Ucznia] [int] IDENTITY(1,1) NOT NULL,
	[Przedmiot] [varchar](255) NULL,
	[Ocena] [int] NULL,
	[Waga_Oceny] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Ucznia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plan_Lekcji]    Script Date: 27.10.2023 22:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plan_Lekcji](
	[Dzien] [varchar](255) NULL,
	[Lekcja] [varchar](255) NULL,
	[Godzina] [varchar](16) NULL,
	[Nauczyciel] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Przedmioty]    Script Date: 27.10.2023 22:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Przedmioty](
	[ID_Przedmiotu] [int] IDENTITY(1,1) NOT NULL,
	[Przedmiot] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Przedmiotu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uprawnienia]    Script Date: 27.10.2023 22:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uprawnienia](
	[ID_Uprawnienia] [int] NOT NULL,
	[Typ] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Uprawnienia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uzytkownicy]    Script Date: 27.10.2023 22:29:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uzytkownicy](
	[ID_Uzytkownika] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [varchar](255) NOT NULL,
	[Nazwisko] [varchar](255) NOT NULL,
	[Grupy] [varchar](255) NOT NULL,
	[Loginy] [varchar](255) NOT NULL,
	[Haslo] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Uzytkownika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
